<div class="row">
  <div class="col-8">
    <%= form_with model: @history do |f| %>
      <div class="form-group">
        <%= f.label :date %>
        <%= f.date_field :date, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :is_paid %>
        </br>
        <div class="btn-group">
          <% f.radio_button :is_paid, "支出"%>
          <%= f.label "is_paid_支出", class: "btn btn-outline-secondary" %>
          <% f.radio_button :is_paid, "収入" %>
          <%= f.label "is_paid_収入", class: "btn btn-outline-secondary" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :pay_deposit_method_id %>
        <%= f.select :pay_deposit_method_id, options_from_collection_for_select(PayDepositMethod.all, :id, :name), {}, {:class => "form-control"} %>
      </div>
      <div class="form-group">
        <%= f.label :price %>
        <%= f.number_field :price, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :content %>
        <%= f.text_area :content, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.submit "Create", class: "btn btn-primary"%>
      </div><!-- /.form-group -->
    <% end %>
  </div><!-- /.col-8 -->
</div><!-- /.row -->