<%= form_with model: method do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :group %>
    <%= f.select :group, PayDepositMethod.groups_i18n.keys.map{|k| [I18n.t("enums.pay_deposit_method.group.#{k}"), k]}, {prompt: "選択してください"}, class: "form-control" %>
  </div>
  <div class="form-group text-right">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>